---
workshopTitle: "Algebra"
workshopSchoolType: "Middle School"
workshopOrder: 6
---
:markdown
  **What is Algebra?: The Study of Relationships**

  We enter the world of algebra with language that we are familiar with: English.  In this way, we are able to slowly dip ourselves into the world of algebra without taking a full head-first dive into xs, ys, and zs.  We present an approach to moving from English to variables that is a natural step.  We examine the various ways of studying the relationship between variables with the use of tables, graphs, equations, and function machines.  

  Next, we explore the use of the Pan Balance to help students simplify relationships and solve problems.  We show how powerful this model is as a way to better understand that the meaning of “=” is “the same as” and the meaning of “<” and “>” in a way helpful to students at younger ages.  In general, the Pan Balance is an effective tool during elementary and middle school for working with and understanding relationships.
