---
workshopTitle: "Fractions"
workshopSchoolType: "Elementary School"
workshopOrder: 4
---
:markdown
  **Exploring Fractions**

  We explore different aspects of fractions which are fundamental to their understanding.  This workshop makes use of several manipulatives which are extremely powerful for helping build understanding of fractions.

  We examine the importance of
  
  •  using different types of wholes
  •  understanding what attribute is being measured by a fraction

  We will use Cuisenaire Rods, Pattern Blocks, Base 10 Materials, and the Number Line in various ways  to better understand how to bring the world of fractions to students.

  Using our Adjective/Noun theme we will provide new tools to better understand the concepts underlying the algorithms for addition, subtraction, multiplication and division of fractions and mixed numbers.  We will also use the number line to help better understand how to estimate the above operations.
