---
workshopTitle: "Learning the Facts"
workshopSchoolType: "Elementary School"
workshopOrder: 3
---
:markdown
  **Strengthening Arithmetic Skills by Learning the Facts and Using Selected Activities** 

  We begin with an exercise to establish the importance of having automatic recall of addition and multiplication facts.  We then examine
  •  Methods for teaching fact families (addition tables and related subtraction facts)
  •  Methods for teaching multiplication tables and related division facts

  Activities to help students build arithmetic skills:
  •  Mental math
  •  Timed worksheets with positive incentives
  •  War
  •  What’s my number? Game
  •  24 Game
  •  Function Machines
  •  Factor Trees 
