---
workshopTitle: "Models of Operations"
workshopSchoolType: "Elementary School"
workshopOrder: 5
---
:markdown
  **The Models of Subtraction, Multiplication, and Division**

  We will explore the models of subtraction that students are expected to know:  comparison, equalizing, separation.  This is an important area where many students have difficulty conceptualizing the meaning of these models so that they are unable to translate various types of word problems into subtraction problems.  We will also use these models to better understand concepts behind arithmetic with signed numbers.

  Next, we will investigate multiplication of whole numbers, fractions, mixed numbers, decimals, polynomials, and signed numbers using several models.  The concept of multiplication as repeated addition will be extended to these various types of number representation.  The number line will aid us in this investigation.  We will then examine the concepts underlying the standard algorithm for multiplication of each of the types of numbers listed above.  The area model of multiplication will be used to examine this topic and will be shown to provide a framework for multiplication in grades 2 and up.

