---
workshopTitle: "Number Line"
workshopSchoolType: "Elementary School"
workshopOrder: 2
---
:markdown
  **Walking the Number Line to Better Number and Operation Sense**

  We will examine methods to

  * make the number line more concrete for students

  * use place value to find whole numbers and decimals accurately on the number line

  * find fractions and mixed numbers on the number line in ways that connect the student to the size of the numbers found so as to help strengthen number sense for these numbers.

  * use Cuisenaire rods as a manipulative for developing number line skills

  * estimate addition, subtraction, multiplication and division operations on the number line in a manner which strengthens student’s understanding of these operations
