---
workshopTitle: "Place Value"
workshopSchoolType: "Elementary School"
workshopOrder: 1
---
:markdown
  **Place Value: Whole Numbers, Decimals, Operations, and Scientific Notation**

  This is one of the fundamental topics that students study during elementary school and use to understand numbers and the algorithms for operating on numbers.  We will examine the structure that place value offers us using base 5 and base 10 materials.  We examine what it would be like in a world where we were relearning our place value system by working within the base 5 system.  This provides an opportunity to empathize with students new to the base 10 system and to rediscover the answer to questions we no longer feel the need to ask like: Why does 100 follow 99?  We will also make use of other manipulatives such as number strips and base 10 materials which are helpful to strengthen concepts underlying place value and the algorithms for the arithmetic operations.  We will discuss ways of teaching addition, subtraction and multiplication with special attention given to how place value plays a role in the algorithm.  We will explore decimals and show the place value structure which exists within these numbers.  We will examine scientific notation and how it underscores the meaning of place value, as well.