---
workshopTitle: "Proportions"
workshopSchoolType: "Middle School"
workshopOrder: 7
---
:markdown
  **Rates, Proportional and Nonproportional Reasoning**

  Students must possess a deep understanding of rates in order to succeed in algebra during the middle and high school years.  There are many times during the elementary school curriculum when students have an opportunity to internalize the concept of rates in a way that will be meaningful to them in the later years.  We explore these opportunities and show how this understanding relates to topics introduced in algebra.  Central to this discussion is the development of an understanding of linear relationships, proportional relationships, and nonproportional relationships.  We examine the subtle distinction between these 3 types of relationships and determine methods for solving problems involving proportional relationships.