---
layout: 'default'
title: '404 Not Found'
dynamic: true
---

//- MRK - specifies 404 page output.  Cannot locate compiled version in out folder.
//- MRK - Klement says this is something that may be specified in the configuration
//- MRK - file of a specific webserver.  Code below may only work for node.js

//- MRK - hero-unit class is defined in bootstrap and is a div taking up most width below navigation bar.
.hero-unit
  h1 404 Not Found
  p
    | Ooops! It looks like the document you requested at <code>#{req.url}</code> couldn't be found.
