---
layout: 'default'
title: '500 Internal Server Error'
dynamic: true
---

//- MRK - it appears that the very first lines of file must be the meta data.  This includes comments.
//- MRK - specifies 500 page output.  Cannot locate compiled version in out folder.
//- MRK - Klement says this is something that may be specified in the configuration
//- MRK - file of a specific webserver.  Code below may only work for node.js

//- MRK - hero-unit class is defined in bootstrap and is a div taking up most width below navigation bar.
.hero-unit
  h1 500 Internal Server Error
  p
    | Ooops! Something went wrong while we were processing your request to <code>#{req.url}</code>. Here's the details:
  p
    pre= err.message || err.stack
