---
title: About
layout: page
pageOrder: 3
---

//- MRK - added dynamic meta data so if a post is added, this page is reloaded
//- MRK - have to think about dynamic issues regarding efficiency. 
//- MRK - Appearance of nav.linklist list is 'date >> href(title)', one per line
//- MRK - what are types of fields found in objects returned by getCollection?

#imgholder
  img(src='/img/michael klugerman_sm.jpg')
  :markdown
    For the past 10 years, Michael Klugerman has been teaching mathematical content and pedagogy to both inservice and preservice teachers at all levels of K-12.  During this time he has offered graduate credit from Clark University, Lesley College, Endocott College, and University of Massachusetts to more than 2000 teachers.  [Response to his classes](/kudos.html) by all types of participants has been overwhelmingly positive.

    Since Fall 2008, Michael has taught the 2-semester math content sequence required for preservice elementary school teachers at Clark University in Worcester Massachusetts.  This prepares undergraduates for teaching mathematics to students in the future and for passing the state required math exam for elementary school licensure in the state.  90% of the students have passed this test on the first try after completing his course sequence while the pass rate is only 50% for the state as a whole.

    Though his PhD in math from MIT ensures that any content he teaches is firmly grounded in solid mathematics, he has found that the most important part of his education has come from other teachers who he has had the pleasure of working with or teaching.

    He has used his 20 years of software development experience to develop software and materials in support of math education.  Most recently, he worked with a small team to create www.gregtangmath.com, a math education website for elementary school students.  He has also developed software to analyze MCAS data in order to target the specific needs of students taught by the teachers he instructs.  He has transferred this in depth knowledge into [workshops](/workshops.html) that prepare teacher for work with the common core.

    From 2003-2009 he designed, directed and delivered professional development through the Massachusetts Mathematics Institute.  The graduate programs were intensive 8 or 16 day courses and were conducted in partnership with several universities.  More than 1500 teachers throughout the state participated.  Trained other instructors and facilitators to deliver instruction so that program could be expanded.  As a result, Michael is qualified to train appropriate teachers from within the district to provide his professional development to other teachers, leveraging the resources within the district.
