---
title: Kudos
layout: default
pageOrder: 5
---
h1 Kudos
.row
  .span6
    :markdown
      * The number line concept is such a critical tool for students.  Thanks! -- Worc. Fracs.
      
      * This was all REALLY insightful information that will help me better teach my students. -- Worc. Fracs.

      * Well done - excellent supporting materials.  A super friendly format.  *Suggestions for more PD offerings:* More workshops like this by Michael. -- Worc. Fracs.

      * *Suggestions for more PD offerings:* Have Mike conduct more workshops like this one -- Worc. Fracs.

      * Training will help me reach my special ed students at the various levels become more familiar with fractions. -- Worc. Fracs.

      * Excellent presentations - different approaches to teaching fractions. -- Worc. Fracs.

      * I have already begun to implement techniques from the course in my classroom.  I was very impressed with every aspect.  I feel much more confident in what to teach. -- Worc. Fracs.

      * Great personality, easy to understand language, good pace. -- Worc. Fracs.

      * Great variety of key concepts.  Loved the emphasis on number line and group work. -- Worc. Fracs.

      * Loved the handouts.  Can't wait to use them along with the manipulatives. -- Worc. Fracs.

      * I was totally engaged and Mike's enthusiasm for math made me enjoy math! -- Worc. Fracs.

      * You made me think!  Common numerators, area model of division.

      * The lessons were aligned to the Common Core standards.  The he used a great variety of strategies and techniques to use with my students.

      * *Your overall assessment of the instructor:* Awesome. -- Math 102 S13

      * Professor Klugerman is one of the best professors I've ever had at Clark.  He truly loves his job and helping his students, and he does all that he can to ensure that his sutdents succeed.  He has made me see things in a new light and has opened my eyes to a variety of new materials - something I'm forever grateful for.  He has truly made me think + push myself further than ever before.  The classes make you see/learn from the perspective of the students you will be teaching, which is priceless.  All of the assignments and exams helped with my attaining of knowledge. -- Math 102 S13

      * Prof K is one of the best professors I have had.  He is the most positive, enthusiastic, respectful, and definitely most genuine.  He takes time to ensure that all students understand and are comfortable w/concepts.  Students respect and appreciate him and thus want to do well.  Overall truly fantastic & enjoyable to take course with.  I took this course as an MAT pre-req but no longer plan to do the MAT program.  However, many mathematical concepts have been clarified here... Thins I never understood or had misconceptions of from earlier schooling, I now understand.  Prof. K makes what could be extremely dry, pleasant. -- Math 102 S13

      * Professor Klugerman is the best professor I've had at Clark.  He loves what he does and makes learning enjoyable for his students.  He truly wants his students to succeed and become the best teachers they can and he works hard to ensure their success.  I found the homework to be extremely helpful and going over it in class helped with problems that were more difficult.  For someone who has "math anxiety", this class was a blast and I can now say I love math. -- Math 101 F12 (same person as above)

      * He is incredibly enthusiastic about the course and the material covered and is very dedicated to his students having a strong understanding/grasp of the material.  He really puts a lot of effort into making sure none of his students fall behind which I really appreciate.  I really value the comments he writes on the homework - really ensuring we understand the material. -- Math 101 F12

      * Very enthusiastic, helpful and knowledgable.  Clearly passionate and makes class feel his enthusiasm. -- Math 101 F12

      * He is enthusiastic, understanding and an overall great professor.  Math isnot an easy subject to teach be he organizes the material in a very manageable way.  He's extremely flexible and helpful with issues and student concerns.  I like the comments on our homework. -- Math 101 F12

      * “I'm now able to see beyond what I'm teaching. I can see where it's going and push the kids farther. My teaching and [a co-participant’s] has changed; we're now known as the ‘math people’ in our building and teachers come to us for advice. Math has been kicked up a level in my classroom. My kids do awesome things – graphs, formulas. Other teachers are amazed at what my third-graders do; they ask how much I lead them through the math and I say, ‘not much.’” -- 2004ish MMI 
      
      * “Each topic is thoroughly introduced, reviewed, practiced, and discussed. Both presenters are able to give their own version of understanding math concepts and ideas. My experiences during the workshop have been positive and rewarding. I feel much more confident in having a solid background of the number system and feel I can explain and teach math better.” -- 2004ish MMI 
      
      * “I’m really glad that I took this course. It has helped me see math in a totally different light. I feel that my attitude toward math has changed for the better and what’s great is that my students are benefiting from my new found confidence. Before this class, I’d shy away from complicated math problems, but now I welcome the challenge.” -- 2004ish MMI 
      
      * “I now have a deeper understanding of the concepts, so I will be better prepared to present the material to my students utilizing multiple approaches in order to better meet their diverse needs. I will also be better equipped to answer students’ questions and analyze their varied approaches to problem solving.” 
      “This course so far has given me some confidence in doing math that used to send me toward an anxiety attack!” -- 2004ish MMI
  .span6
    table.table.table-bordered.table-condensed
      caption Preservice student evaluations for math content course at Clark University
      thead
        tr
          th Question Title
          th Mean
        tbody
          tr
            td Ability to present material clearly
            td 4.7/5
          tr
            td Preparation for classes
            td 4.9/5
          tr
            td Enthusiasm for teaching
            td 5.0/5
          tr
            td Respect for student’s viewpoint
            td 4.9/5
          tr
            td Success in setting high standards for student’s work
            td 4.7/5
          tr
            td Overall effectiveness of the instructor
            td 4.8/5
