---
title: Other Sites
---
//- layout: default
//- pageOrder: 6

//- MRK - added dynamic meta data so if a post is added, this page is reloaded
//- MRK - have to think about dynamic issues regarding efficiency. 
//- MRK - Appearance of nav.linklist list is 'date >> href(title)', one per line
//- MRK - what are types of fields found in objects returned by getCollection?

h1 Other Sites3